<tbody>
<tr>

  <td><%= task.name %></td>
  <td id="fixed_td"><%= task.detail %></td>
  <td><%= task.status %></td>
  <td><%= task.total_price %></td>
  <td><%= task.porcentaje %></td>
  <%if @project.group_projects.find_by_user_id(current_user.id).administrator? || task.user.id == current_user.id || current_user.projects.find_by(id: task.project) %>

    <td><%= link_to 'Editar', edit_task_path(task)%></td>
  <%end%>
  <%if @project.group_projects.find_by_user_id(current_user.id).administrator? || task.user.id == current_user.id %>
    <td><%= link_to 'Borrar', task, method: :delete%></td>

  <%end%>
  <td><%= link_to 'Ver Recursos', task_resources_path(task)%></td>

</tr>
</tbody>

