<h3 id="negrita">Tareas</h3>

<%= form_tag(project_tasks_path, method: "get", local: true) do %>
  <%= label_tag(:filter, "Filtrar tareas por:") %>
  <%= select_tag(:filter, options_for_select(Task.filters)) %>
  <%= submit_tag("Filtrar") %>
<% end %>

<div class="container">
  <table class="table">
    <thead>
    <td>Nombre</td>
    <td>Detalle</td>
    <td>Estado</td>
    <td>Costo</td>
    <td>Porcentaje</td>
    <td>Recursos</td>
    <td></td>
    <td></td>
    <td></td>
    </thead>
    <%= render @tasks %>
  </table>
</div>

<br>

  <%= link_to 'Crear Tarea', new_project_task_path, class: 'button is-success' %>


