<h3>Bienvenido</h3>
<h4 id="negrita"> <%=  current_user.name%></h4>
<br>

<h3 id="negrita">Tus Proyectos</h3>

<%= form_tag(projects_path, method: "get", local: true) do %>
  <%= label_tag(:filter, "Filtrar proyectos por:") %>
  <%= select_tag(:filter, options_for_select(Project.filters)) %>
  <%= submit_tag("Filtrar") %>
<% end %>

<div class="container">
  <table class="table">
    <thead>
    <td>Nombre</td>
    <td>Estado</td>
    <td>Costo</td>
    <td>Porcentaje</td>
    <td>Miembros</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </thead>
    <%= render @projects %>
  </table>
</div>

<br>

<%if current_user.adm? %>
  <%= link_to 'Nuevo Proyecto', new_project_path, class: 'button is-success' %>
<%end%>






