<tbody>
<tr>
  <td><%= resource.name %></td>
  <td><%= resource.quantity %></td>
  <td><%= resource.price %></td>
  <%if @task.user.id == current_user.id || @task.project.group_projects.find_by_user_id(current_user.id).administrator? %>
    <td><%= link_to 'Editar', edit_resource_path(resource) %></td>
    <td><%= link_to 'Borrar', resource, method: :delete%></td>
  <%end%>
</tr>
</tbody>
